body {
  background-color: #2f2138;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}

#main {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.modal {
  display: none; /* Hidden by default */
  height: 100vh;
  left: 34%;
  position: fixed; /* Stay in place */
  top: 40%;
  width: 100vw;
  z-index: 999; /* Sit on top */
}

.modal-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  min-height: 10vh;
  padding: 20px;
  width: 30vw;
  z-index: 1000;
}

.buttons {
  display: flex;
  flex-flow: row;
}

.buttons > * {
  margin-left: 5px;
}

#tasks {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
  width: 85vh;
}

#top-panel {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px;
  width: 85vh;
}

.task {
  background-color: #2f2138;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-flow: column;
  margin-bottom: 5px;
  min-width: 20%;
  padding: 10px;
}

.task-name {
  display: flex;
  flex-flow: row;
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
}

.task-date {
  align-self: flex-end;
  color: #999;
  font-style: italic;
}

.task-delete {
  color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

h1 {
  background-color: #2f2138;
  border-radius: 5px;
  color: #fff;
  margin: 0;
  padding: 10px;
}

textarea,
input {
  border: 1px solid #2f2138;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}

button {
  background-color: #2f2138;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 5px;
}
